<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add</h1>
<form action="#" th:action="@{/commodity}" th:object="${commodity}" method="post">
    <label for="registry">registry</label>
    <input type="text" th:field="*{registry}" id="registry">

    <label for="price">price</label>
    <input type="text" th:field="*{price}" id="price">

    <select th:field="*{type}">
        <option th:each="type: ${types}" th:value="${type.getId()}" th:text="${type.type}">
        </option>
    </select>

    <input type="hidden" th:field="${incomingOrderId}" id="incomingOrder">

    <input type="submit" value="Add">
</form>

<h2>Twoje Produkty</h2>
<tr th:each="commodity: ${commodities}">
    <td th:text="${commodity.getRegistry()}"/><br/>
    <td th:text="${commodity.getIncomingOrder().getDescription()}"/><br/>
    <td th:text="${commodity.getPrice()}"/><br/>
    <td th:text="${commodity.getType()}"/><br/>
    <br/><br/>
</tr>
</body>
</html>