<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Wprowadzi zamowienie</h1>
<form action="#" th:action="@{/incomings}" th:object="${newOrder}" method="post">
    <label for="came">Come</label>
    <input type="text" th:field="*{came}" id="came">
    <label for="description">description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="USER">
    <label for="price">price</label>
    <input type="text" th:field="*{price}" id="price">
    <label for="producer">producer</label>
    <input type="text" th:field="*{producer}" id="producer">
    <label for="weighs">weighs</label>
    <input type="text" th:field="*{weighs}" id="weighs">
    <input type="submit" value="Add">
</form>

<h1>Twoje Zamowienia</h1>
<tr th:each="order: ${orders}">
  <td th:text="${order.getDescription()}"/><br/>
  <td th:text="${order.getPrice()}"/><br/>
  <td th:text="${order.getCame()}"/><br/>
  <td th:text="${order.getProducer()}"/><br/>
  <td th:text="${order.getWeighs()}"/><br/>
    <td th:text="${order.getCommodity()}"/><br/>
    <form th:object="${order}" th:action="@{/incomings(id=${order.getId()})}" th:method="delete">
        <input type="submit" name="_method" value="delete">
    </form>

        <td><a th:href="@{/incomings/edit(id=${order.getId()})}">
            <button type="submit" name="Edit">
                Edit
            </button>
        </a></td>


    <br/><br/>
</tr>
</body>
</html>